@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-inter), sans-serif;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgia.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgiab.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}



html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}


  .feed-slider .swiper-wrapper {
    transition-timing-function: linear ;
  }
  :root {
    --custom-orange: #EDB414;
    --custom-gray: #2B2B2B;
  }
  @layer utilities {
    .text-title {
      @apply text-[30px] md:text-[44px] text-orange font-bold mb-3 md:mb-[31px] leading-[32px] md:leading-[44px];
    }

    .section-py{
      @apply pb-11 pt-8 md:pt-20 md:pb-[70px];
    }
    .button-sec:hover{
      @apply bg-orange text-white border-orange;
      svg{
        path{
          fill: white;
        }
       
      }
    }

    
    .custom-scrollbar {
      overflow-y: auto;
      
      -webkit-overflow-scrolling: auto;
    }
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
      display: block !important;
    }


    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #6b7280; 
      border-radius: 4px;

    }

    .bar::-webkit-scrollbar-track {
      background-color: #d1d5db; 
      border-radius: 4px;
    }

    .field-title{
      @apply text-[#2B2B2B] text-[22px] md:text-[24px] leading-[26px] font-[650];
    }
    .field-desc{
      @apply text-[#2B2B2B]/80 text-base font-[350] mt-[8px] leading-[21px]
    }

    ::placeholder{
      font-size: 16px;
      line-height: 21px;
      color: #8F8F8F;
    }
    .small-placeholder::placeholder{
      font-size: 12px;
      line-height: 16px;
      color: #8F8F8F;
    }

    .dragging{
      transform: scale(1.2);
    }
    
  }
  

  h1 {
    white-space: nowrap; 
    font-size: clamp(26px, 8vw, 46px); 
    line-height: clamp(1.2em, 5vw, 1.5em);
}
textarea {
  -webkit-appearance: none; 
}
  
.shadow {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}



.scrollbar-visible {
  overflow-x: scroll;
  scrollbar-width: thin; 
  scrollbar-color: #999 #f0f0f0; 
}

/* (Chrome, Safari, Edge) */
.scrollbar-visible::-webkit-scrollbar {
  height: 8px; 
  display: block !important;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 8px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

#zoom-slider::-webkit-slider-thumb {

  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #EAAC00;
  cursor: pointer;
  border: none;
  @media (max-width: 768px) {
    width: 23px;
    height: 23px;
  }
}

#zoom-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #EAAC00;
  cursor: pointer;
  border: none;
  @media (max-width: 768px) {
    width: 23px;
    height: 23px;
  }
}

#zoom-slider::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #EAAC00;
  cursor: pointer;
  border: none;
  @media (max-width: 768px) {
    width: 23px;
    height: 23px;
  }
}
