@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-inter), sans-serif;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgia.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgiab.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}



html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}


  .feed-slider .swiper-wrapper {
    transition-timing-function: linear ;
  }
  :root {
    --custom-orange: #EDB414;
    --custom-gray: #2B2B2B;
  }
  @layer utilities {
    .text-title {
      @apply text-[30px] md:text-[44px] text-orange font-bold mb-6 md:mb-[31px] leading-[32px] md:leading-[44px];
    }

    .section-py{
      @apply py-11 md:pt-20 md:pb-[70px];
    }
    .button-sec:hover{
      @apply bg-orange text-white border-orange;
      svg{
        path{
          fill: white;
        }
       
      }
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #6b7280; 
      border-radius: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
      background-color: #d1d5db; 
    }

    .field-title{
      @apply text-[#2B2B2B] text-[18px] md:text-[24px] leading-[26px] font-bold;
    }
    .field-desc{
      @apply text-[#2B2B2B]/80 text-[14px] md:text-base font-medium
    }

    ::placeholder{
      font-size: 16px;
      line-height: 21px;
      color: #8F8F8F;
    }
    .small-placeholder::placeholder{
      font-size: 12px;
      line-height: 16px;
      color: #8F8F8F;
    }

    .dragging{
      transform: scale(1.2);
    }
    
  }
  

  h1 {
    white-space: nowrap; 
    font-size: clamp(24px, 8vw, 46px); 
    line-height: clamp(1.2em, 5vw, 1.5em);
}
textarea {
  -webkit-appearance: none; 
}
  
.shadow {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}