.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 768px;
  width: 100%;
  margin: 18px auto 44px;
}

.stepContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.step {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.myAccount .step {
  width: 19px !important;
  height: 19px !important;
}

.active, .completed {
  background-color: var(--custom-orange);
  color: #F6F0EB;
  
}

.myAccount .active,
.myAccount .completed, 
.myAccount .inactive {
  border: solid 0.5px #000
  
}

.inactive {
  background-color: #FFFAE7;
  color: var(--custom-orange);
  border: 1px solid #898989;
}

.line {
  position: absolute;
  top: 50%;
  right: -50%;  
  width: 100%;
  height: 9px;
  transform: translateY(-50%);
  z-index: 0;
  border: 1.5px var(--custom-orange) solid;
  border-left: none;
  border-right: none;
}
.myAccount .line{
  border: solid 0.5px #000
}
.lineCompleted {
  background-color: var(--custom-orange);

}
.wHalf{

  background: linear-gradient(90deg, var(--custom-orange) 50%, transparent 50%);
  background-color: transparent; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 9px;
  z-index: 0;
}



.lineInactive {
  background-color: transparent 
}

.label {
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  color: var(--custom-gray);
  opacity: 0.7;
  width: 75px;
  text-align: center;
  position: absolute;
  bottom: -35px;
}

.myAccount .labelCompleted {
  color: #2B2B2B;
  opacity: 1;
}
@media (max-width:768px) {
  .step{
    width: 29px;
    height: 29px;
  }
  .label{
    display: none;
  }
  .lineBeforeLast {
    width: 200%; 
    right: -150%;
  }

  .progressBar{
    width: 75%;
    margin: 20px auto;
  }

  .active, .completed{
    border: none;
  }

  .inactive {
   background-color: #FFFAE7;
    border: 1px solid #898989;
  }

  .stepContainer:last-child .inactive{
    background-color: #F1DEA9;
    border:none;
  }
  .lineInactive {
    background-color: #F1DEA9 
  }
  .line{
    border: none;
  }
  
 
}
@media (max-width:768px) {
  

  .myAccount.stepContainer:last-child .inactive{
    background-color: #FFFAE7;
    border: solid 0.5px #000
  }
  .myAccount .lineInactive {
    background-color: transparent ;
  }
  .myAccount .line{
    border: solid 0.5px #000
  }

  .myAccount   .label{
    display: block;
  }
  
  .myAccount.progressBar {
    width: 117%;
    left: -8.5%;
    position: relative;
  }

}
